// .headerParent {
//     background-image: url(../../../images/moon4.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     background-attachment: fixed;
// } 
.headerParent {
    height: 100vh;
}


html, body {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫧</text></svg>") 16 0,auto;

}


.headerParentActive {
    // background-image: url(../../../images/moon1.jpg);

}
.header {
    max-width: 1100px;
    display: flex;
    align-items: center;
    padding: 30px;
    text-align: center;
    position: relative;
    overflow-x:hidden;
    padding-top: 100px;


}
.header__img {
    width: 400px;
}
.header-star {
    position: absolute;
    width: 40px;
    top: 3px;
    right: 50px;
}
.header__left {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;

}
.header__left-text {
    text-align: start;
    color: rgb(22, 111, 183);
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 10px;
}
.header__left-active {
    color: rgb(243, 225, 173);
}
.header__left-active .header-left-job {
    color: rgb(0, 255, 8);

}
.header-left-job {
    color: gold;
    display: inline-block;
    margin: 9px 0;
}
.header__left-active .header-left-tech {
    color: rgb(0, 255, 8);

}
.header-left-tech {
    color: rgb(229, 94, 16);
}
.header__right {
    width: 40%;
}

.lang {
    position: absolute;
    top: 18px;
    left: 50px;
    text-align: start;
    
}
.lang-text {
    padding: 6px;
    border-radius: 6px;
    background:  rgb(229, 94, 16);
    color: white;
    cursor: pointer;

}
.lang-modal {
    margin-top: 8px;
    border-radius: 4px;
    background: white;
    text-align: center;
    width: 100px;
    visibility: hidden;
    transition:ease-in-out 0.1s;
}
.lang-modalActive {
    visibility: visible;

}
.lang-modal li {
   font-weight: 500;
   padding: 3px 0;
   list-style: none;
}
.lang-modal li:hover {
    background: #929090;
    cursor: pointer;
}
.lang-modal-flag {
    width: 27px;
    border-radius: 10px;
    margin-right: 5px;
}
@media screen and (max-width: 1000px) {
    .header__left-text {
        font-size: 32px;
    }
  }