.hero {
    background-image: url('../../assets/images/ca6873339d2734623797a3e03e20b06f.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  
}