@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}
.light-mode {
    background: white;
    color:#070707;
}
  
.dark-mode {
    background: black;
    color: white;
}